body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  display: flex;
  align-content: space-around;
  align-items:center;
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding-left: 2px;
}

.square:focus {
  outline: none;
}

.squarePintado {
  display: flex;
  align-items: center;
  background: rgb(58, 116, 224);
  border: 1px solid rgb(0, 0, 0);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.gamemode {
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  margin-top: 135px;
  margin-left: 75px;
  font-size: 30px;
  background-color: rgb(58, 116, 224);
  height:50px;
  width:50px;
  cursor:pointer;
}

.gamemode:hover {
  background-color: rgb(50, 165, 218);
  color:white;
}

.gamemodeNotHover {
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  background-color: rgb(58, 116, 224);
  margin-top: 135px;
  margin-left: 75px;
  font-size: 30px;
  height:50px;
  width:50px;
}

.showSolution{
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  margin-top: 135px;
  margin-left: 10px;
  font-size: 30px;
  background-color: rgb(58, 116, 224);
  height:50px;
  width:50px;
  cursor:pointer;
}

.showSolution:hover{
  background-color: rgb(50, 165, 218);
  color:white;
}

.showSolutionNotHover {
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  background-color: rgb(58, 116, 224);
  margin-top: 135px;
  margin-left: 10px;
  font-size: 30px;
  height:50px;
  width:50px;
}

.hint{
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  margin-top: 135px;
  margin-left: 10px;
  font-size: 30px;
  background-color: rgb(58, 116, 224);
  height:50px;
  width:50px;
  cursor:pointer;
}

.hint:hover{
  background-color: rgb(50, 165, 218);
  color:white;
}

.hintNotHover{
  display: flex;
  align-items: center;
  border: 1px outset rgb(61, 78, 156);
  margin-top: 135px;
  margin-left: 10px;
  font-size: 30px;
  background-color: rgb(58, 116, 224);
  height:50px;
  width:50px;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.sat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  border-radius: 8px;
  margin: 5px;
}

.sat div {
  margin: 2px
}

.colClues .clue .sat{
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.title{
  font-size: 60px;
  font: 35px "Century Gothic", Futura, sans-serif;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.gameInfo {
  margin-left: 20px;
  margin-top: 135px;
  font: 35px "Century Gothic", Futura, sans-serif;
}